##########################
# GCC SPECIFIC
*.o
##########################
# MSVC SPECIFIC
*.sdf
*.ipch
*.ilk
*.pdb
*.obj
*.idb
*.tlog
*.exp
*.ncb
*.suo
##########################
# PYTHON SPECIFIC ( TEST HARNESS)
*.pyc
##########################
# PROJECT SPECIFIC
ome_log.txt
ipch/
intermediate/